:root {
  --primary-color: #6ab04c;
  --primary-color-hover: #b8e994;
}

body {
  padding-top: 56px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-hover);
}

.small-caps {
  font-variant: small-caps;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary:hover {
  border-color: var(--primary-color-hover);
  background-color: var(--primary-color-hover);
}

.btn:focus {
  box-shadow: none;
}

.text-primary,
.nav-link.active {
  color: var(--primary-color) !important;
}

.nav-link:hover {
  color: var(--primary-color-hover) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.logo {
  max-width: 12rem;
}

.hero-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.5)),
    url(src/common/assets/images/hero-1.jpg) no-repeat center center scroll;
  background-size: cover;
  height: 95vh;
}

.hero-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.5)),
    url(src/common/assets/images/hero2.jpg) no-repeat top center scroll;
  background-size: cover;
  height: 50vh;
}
